<% include ../partials/header %>

  <p><a href="/forums/<%= forum.name %>/posts/new">Post to this forum.</a></p>
  <% forum.posts.forEach(function(post) { %>

    <div>
      <h4><a href="/forums/<%= forum.name %>/<%= post.title %>"><%= post.title %></a></h4>
      <% if (post.lastActivity) { %>

        <p>last activity <%= post.lastActivity %> by <a href="/users/<%= post.lastActivityUser %>"><%= post.lastActivityUser %></a></p>

      <% } %>
    </div>

  <% }) %>

  <p><a href="/forums/<%= forum.name %>/edit">Rename or delete this forum.</a></p>

<% include ../partials/footer %>