<% include ../partials/header %>

  <div class="user-card">
  <!-- <div> -->
      <!-- <img src="http://placehold.it/150x150" /> -->
    <!-- </div> -->
    <div>
      <% if (thisUser.username === user.username) { %>
        <p><a href="/users/<%= user.username %>/edit">Update your profile.</a></p>
      <% } %>
      <h4><%= user.username %></h4>
      <% if (user.persComment) { %>
        <p>Personal Comment: <%= user.persComment %></p>
      <% } %>
    </div>
  <!-- </div> -->
  <!--if logged in user, display is different -->

  <div>
    <h5><%= user.username %>'s Posts:</h5>
    <% posts.forEach(function(post) { %>
      <div class="border-long">
        <h6><a href="/forums/<%= post.forum.name %>/<%= post.title %>"><%= post.title %></a></h6>
        <p>last activity <%= post.lastActivity %> by <a href="/users/<% post.lastActivityUser %>"><%= post.lastActivityUser %></a></p>
      </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>