<% include ../partials/header %>

  <p><a href="/forums/<%= post.forum.name %>">Return to <%= post.forum.name %>.</a></p>

  <div>
    <h3><%= post.title %></h3>
    <div>
      <p>originally posted by <a href="/users/<%= post.user.username %>"><%= post.user.username %></a> on <%= post.created %>.
        <% if (post.lastUpdate.toString() !== post.created.toString()) { %>
          Edited on <%= post.lastUpdate %>.
        <% } %>
      </p> <!-- last activity/last updated? -->
      <% if (post.user.username === thisUser.username) { %>
        <p><a href="/forums/<%= post.forum.name %>/<%= post.title %>/edit">Edit post.</a></p>

      <% } %>
      <p><%= post.content %></p>
    </div>
  </div>
  <% comments.forEach(function(comment) { %>
    <div>
      <p><%= comment.user %> on <%= comment.lastUpdate %></p>
      <p><%= comment.content %></p>
      <% if (comment.user.username === thisUser.username) { %>
        <p><a href="#">Edit comment.</a></p>
      <% } %>
    </div>
  <% }); %>
  <!--add replies to each comment? will prob have to update models-->

  <form action="" method="POST">
    <input type="hidden" name="comment[user]" value="<%= thisUser._id %>" />
    <input type="hidden" name="comment[post]" value="<%= post._id %>" />
    <label>
      <textarea name="comment[content]" placeholder="Reply here..."></textarea>
    </label>
    <button type="submit">Reply</button>
  </form>

<% include ../partials/footer %>